h1
{color: #f28482}

.verde
{color: #008000}
body{
	background-color:  #fdfcdc;
}

main{ 
width: 960px ;
background-color:#84a59d ;
border-color: #black;
border-style: solid;
border-width: 2px;
margin-left: auto;
margin-right: auto;
 }


 header{ 
height:110px ;
width:600px ;
background-color:#cdb4db ;
float: left;
 }



 nav{ 
height:110px ;
width:360px ;
background-color:#ffc8dd ;
float: right;
 }



 section{ 
height:1750px ;
width:960px ;
background-color:#bde0fe;
 }

 p{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    margin-left: 20px;
}

ul, ol{
    margin-left: 20px;
    margin-right: 20px;
}

img{
  margin-left: 260px;
    margin-right: 20px;
}


 footer{ 
}
height:80px ;
width:960px ;
background-color:#84a59d ;
 }